<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>SQL Table template for SQLite + GRDB</string>
	<key>Summary</key>
	<string>SQL Table template for SQLite + GRDB</string>
	<key>SortOrder</key>
	<string>30</string>
	<key>DefaultCompletionName</key>
	<string>SQLTable+GRDB</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_modelName___</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>modelName</string>
			<key>Name</key>
			<string>New Table Name:</string>
			<key>Description</key>
			<string>The name of table to create</string>
			<key>Type</key>
			<string>text</string>
			<key>Required</key>
			<true/>
			<key>NotPersisted</key>
			<true/>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>frameworkType</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Framework Type:</string>
			<key>Description</key>
			<string>The framework type</string>
			<key>Type</key>
			<string>popup</string>
			<key>Default</key>
			<string>GRDB</string>
			<key>Values</key>
			<array>
				<string>GRDB</string>
				<string>GRDBCipher</string>
			</array>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_modelName___Table</string>
			<key>Identifier</key>
			<string>tableClassName</string>
			<key>Name</key>
			<string>Table Name:</string>
			<key>Description</key>
			<string>The Table implementation name</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>DB___VARIABLE_modelName___</string>
			<key>Identifier</key>
			<string>dbModelClassName</string>
			<key>Name</key>
			<string>DBModel Name:</string>
			<key>Description</key>
			<string>The DB model implementation name</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
</dict>
</plist>
