<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>Coordinator</string>
	<key>Summary</key>
	<string>Coordinator</string>
	<key>SortOrder</key>
	<string>1</string>
	<key>DefaultCompletionName</key>
	<string>Coordinator name</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_coordinatorName___</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>coordinatorName</string>
			<key>Name</key>
			<string>Coordinator class name:</string>
			<key>Description</key>
			<string>The name of coordinator&apos;s class to create</string>
			<key>Type</key>
			<string>text</string>
			<key>Required</key>
			<true/>
			<key>NotPersisted</key>
			<true/>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_coordinatorName___Coordinator</string>
			<key>Identifier</key>
			<string>coordinatorClassName</string>
			<key>Name</key>
			<string>Coordinator Class:</string>
			<key>Description</key>
			<string>The coordinator&apos;s class name</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
</dict>
</plist>
